
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Figtree",sans-serif;
}

:root{
     --primary:#FF004D;
     --bg-color: #111;
     --brr: 10px;
     --black:#111;
     --black-light:#1a1a1a;
     --br: rgba(255,255,255,0.2);
     --text-color:#F4F6FF;
}

::-webkit-scrollbar{
     width: 5px;
}

::-webkit-scrollbar-thumb{
     background: var(--primary);
     border-radius: 3px;
}

body{
     font-weight: 400;
     background: var(--bg-color);
}

h1{
     font-size: 2.2rem;
     color: var(--text-color);
}

ul{
     list-style: none;
}

a{
     display: inline-block;
     text-decoration: none;
}

.flex{
     display: flex;
}

.container{
     max-width: 1480px;
     padding-inline: 20px;
     margin-inline: auto;
}


header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 70px;
     background: var(--bg-color);
     border-bottom:  1px solid rgba(255,255,255,0.1);
}

.navbar{
     justify-content: space-between;
     align-items: center;
     height: inherit;
}

.logo-container{
     align-items: center;
     gap: 5px;
}

.logo-container i{
     font-size: 24px;
     color: var(--primary);
     margin-top: 2.5px;
}

.logo-container .main-logo{
     font-size: 18px;
     color: var(--text-color);
}

.search-bar-container{
     width: 400px;
     height: 45px;
     align-items: center;
     position: relative;
}

.search-bar-container .main-search-bar{
     width: inherit;
     height: 100%;
}

.search-bar-container .main-search-bar input{
     width: 270px;
     height: 100%;
     outline: none;
     border: 2px solid var(--black-light);
     padding: 0 15px;
     font-size: 15.5px;
     background: var(--black-light);
     color: var(--text-color);
     border-radius: 3px;
     transition: border-color .4s;
}

.search-bar-container .main-search-bar input:focus{
     border: 2px solid var(--primary);
}

::placeholder{
     color: rgba(255,255,255,0.6);
}

.search-bar-container .main-search-bar button{
     width: 50px;
     height: 100%;
     outline: none;
     border: 0;
     font-size: 15.5px;
     color: var(--text-color);
     cursor: pointer;
     border-radius: 3px;
     background: var(--primary);
}

#searchBtn i{
     font-size: 19px;
}

.search-suggestion-container{
     width: 324px;
     position: absolute;
     top: 57px;
     left: 0;
     height: auto;
     background-color: var(--bg-color);
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     visibility: hidden;
     transition: opacity .75s , visibility .75s;
}

.active-search-suggestion{
     opacity: 1;
     visibility: visible;
}

.search-suggestion-container ul{
     width: 100%;
     max-height: 300px;
     overflow-y: scroll;
     padding: 0 10px 0 0;
}

.search-suggestion-container ul li{
     width: 100%;
     height: auto;
     padding: 8px 13px;
     font-size: 15px;
     cursor: pointer;
     color: var(--text-color);
     margin: 5px 0;
     font-size: 14.8px;
     border-radius: 5px;
     transition: color .5s , font-weight .5s;
     letter-spacing: 0.2px;
     font-weight: 400;
}

.search-suggestion-container ul li:hover{
     color: var(--primary);
}




/* MOVIE CONTAINER DESIGN */

.movie-container{
     width: 100%;
     height: auto;
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
     text-align: center;
     padding: 20px 20px;
}

#loadingText{
     width: 100%;
     color: var(--text-color);
     font-weight: 400;
     text-align: center;
     margin-top: 100px;
     padding: 0 20px;
}

.movie-card{
     width: 400px;
     height: auto;
     display: flex;
     flex-direction: column;
     gap: 15px;
     justify-content: center;
     align-items: center;
     padding: 0 20px;
}

.movie-card .movie-poster{
     width: 100%;
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.movie-poster img{
     width: 270px;
     height: 100%;
     object-fit: cover;
     border:2px solid var(--text-color);
}

.movie-card .movie-content{
     width: 100%;
     height: 400px;
     padding: 0px 12px 10px 12px;
     text-align: center;
}

.movie-content h1{
     color: var(--text-color);
}

.movie-content i{
     color: gold;
     font-size: 23px;
}

.movie-content #title{
     font-size: 1.7rem;
}

.movie-content #rating{
     width: 100%;
     margin-top: 13px;
     color: var(--text-color);
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 4px;
}

#rating i{
     margin-bottom: 2px;
}

#rating h2{
     letter-spacing: 2px;
}

#genre{
     width: 100%;
     display: flex;
     height: auto;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 10px;
     margin: 18px 0;
}

#genre span{
     padding: 10px 25px;
     background: var(--primary);
     color: var(--text-color);
     border-radius: 5px;
}

#actors{
     margin: 20px 0;
     color: var(--text-color);
}

#storyline{
     margin: 20px 0;
     color: var(--text-color);
     line-height: 22px;
}

#country{
     color: var(--text-color);
     margin: 20px 0;
}

.movie-content p{
     font-weight: 500;
}

.movie-content span{
     font-weight: 500;
     font-size: 16px;
}

@media (max-width: 600px){
     .navbar{
          flex-direction: column;
          justify-content: space-evenly;
          height: inherit;
     }

     header{
          top: 0;
          left: 0;
          height: 110px;
     }

     .main-search-bar{
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 5px;
     }

     .search-suggestion-container{
          left: 40px;
     }

     #loadingText{
          margin-top: 140px;
     }

     .movie-container{
          margin-top: 10px;
     }

     .search-suggestion-container ul li{
          font-size: 17px;
     }

     .search-bar-container .main-search-bar input{
          font-size: 17px;
     }
}